.loading-name {
	text-align: center;
	color: #378bde;
	font-size: 10vh;
	font-family: "Simonetta";
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	margin-bottom: 1em;
	margin-top: -1em;
	position: absolute;
	top: 1.5em;
}

.loading-page {
	height: 100vh;
	width: 100vw;
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: opacity 2s ease-out;
	opacity: 1;
}

.loader {
	border: 2px black solid;
	height: 20px;
	width: 200px;
	position: absolute;
	top: 45%;
	left: 40%;
}

.loader p {
	margin-top: -4em;
	text-align: center;
}

.loading-filler {
	background-color: #002a54;
	height: 20px;
	width: 200px;
	position: absolute;
	animation: loading 4s ease-in-out;
}

@keyframes loading {
	from {width: 0px;}
	to {width: 200px;}
}