/* Variables */

:root {
	--darkBlue: #002a54; /*complementary is ?? */
	--midBlue: #0d5eaf;
	--lightBlue: #378bde;
	--barelyBlue: #8ac5ff;
	--isItBlue: #dbecff;
	--gray: #BCC6CC;
	--white: white;
	--black: black;
	--aHover: ;
	--shadowGray: #4f5254;
}



/* LANGUAGE SELECTOR */

.language,
.language p {
	float: top;
	background-color: var(--darkBlue);
	color: var(--white);
	font-family: verdana;
	font-size: 13px;
	padding: .5% 3% .5% 4%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.language a:visited {
	color: var(--white);
	text-decoration: underline;
	font-family: verdana;
}

/* add shadow under header */
.shadow-bottom {
	background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
	height: 5px;
	width: 100%;
	z-index: 2;
	position: absolute;
}

.sticky {
	position: sticky;
	top: 0;
	z-index: 3;
}

#englishMode {
	display: ;
}

#greekMode {
	display: ;
}

.sliderStuff {
	float: right;
	display: flex;
	align-items: center;
	font-family: verdana;
	color: var(--white);
	font-size: 13px;
}

.switch {
	position: relative;
	width: 4em;
	height: 2em;
	display: inline-block;
	
}

.switch input {
	display: none;
}

.switch .slider {
	position: absolute;
	top: 0;  			/* all these values are 0 and position is absolute, meaning */
	bottom: 0;			/* that the attributes take on the values of the parent element, which*/
	left: 0;			/* is .switch in this case.*/
	right: 0;
	background-color: var(--lightBlue);
	cursor: pointer;
	border-radius: 30px;
}

.switch .slider::before {
	content: "";
	position: absolute;
	height: 1.5em;
	width: 1.5em;
	background-color: var(--white);
	left: .25em;
	top: .25em;
	transition: all .5s;
	border-radius: 30px;
}

.switch input:checked +.slider::before {
	left: 2.2em;
}

/* HERO IMAGES */

.hero {
	background: url(images/hero2.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 90vh;
	background-position: center;
	text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;	
	position: relative;
}

.hero p {
	text-align: center;
	color: var(--white);
	font-size: 5em;
	font-family: "Simonetta";
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	margin-bottom: 1em;
	margin-top: -1em;
}

.heroLang {
	background-image: url(images/languageShow/heroLang.png);
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-size: contain;
	height: 500px;
	width: 100%;
	margin-top: -10em;
}

.heroLang2 {
	background-image: url(images/languageShow/meBioTest2.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
	height: 600px;
	width: 100%;
	margin-top: ;
	float: right;
	/*border-top: 1px solid var(--black);*/
}


@keyframes spin {
	from {
		transform: rotateY(0deg);
		moz-transform: rotateY(0deg); /*for mozilla */
		ms-transform: rotateY(0deg);/*for microsoft */
	}
	to{
		transform: rotateY(360deg);
		moz-transform: rotateY(360deg); /*for mozilla */
		ms-transform: rotateY(360deg); /*for microsoft */
	}
}
@-webkit-keyframes spin{ /*webkit is to work in chrome */
	from{-webkit-transform: rotateY(0deg);}
	to{-webkit-transform: rotateY(360deg);}
}

.rotate {
	animation-name: spin;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 15s;
	
	-webkit-animation-name: spin;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 15s;
}


/* landing page 3 category options */
.options3 {
	padding: 1em 0 0 0;
	text-align: center;
	margin-bottom: 2em;
	margin-right: auto;
	margin-left: auto;
}

.options3 td,
.options3 a,
.options3 a:hover,
.options3 a:visited {
	/*padding: 1em 3em 0 3em;*/
	cursor: pointer;
	font-weight: bold;
	font-family: "Simonetta";
	font-size: 34px;
	color: white;
	text-decoration: none;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	margin: 0 1em 0 1em;
}

.growHover:hover {
	transform: scale(1.25);
	-webkit-transition: transform .5s ease-in-out;
}

/* FOOTER STYLES */ 

.footer {
	background-color: var(--darkBlue);
	padding: 2em;
	color: var(--white);
	
}

.footerTable tr {
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	
}

.footerTable td {
	margin-left: 2em;
	font-family: "Simonetta";
}

.footerTable a,
.footerTable a:visited,
.footerTable a:hover {
	text-decoration: none;
	color: var(--white);
	
}

.footerTable a[title]:hover:after {
	content: attr(title);
	padding: 4px 8px;
	color: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	top: 100%;
	white-space: nowrap;
	z-index: 2;
	border-radius: 5px ;
	background: rgba(0,0,0,0.5);
}

.copyright {
	font-size: 10px;
	float: right;
	
}

.iconHover img:hover {
	background-color: var(--midBlue);
}


/* NAV STYLES */

.nav li {
	display: inline-block;
	list-style-type: none;
	color: var(--white);
	font-size: 16px;
	font-family: verdana;
	padding: 0 1em .25em 1em;
	
}
.nav a,
.nav a:visited,
.nav a:hover {
	text-decoration: none;
	color: var(--white);
	font-size: 16px;
	font-family: verdana;
	
}

.nav li:hover {
	border-bottom: 2px solid white;
}

.active {
	border-bottom: 2px solid white;
	cursor: default;
}

/* DROP-DOWN STYLES */

.carot {
	cursor: pointer;
	float: right;
	font-weight: bold;
	margin-right: 2em;
}

.ddBioContainer {
	clear: both;
}

.ddBioCard {
	border: 1px solid black;
	box-shadow: 0px 10px 10px var(--shadowGray);
	font-family: Comic Sans MS;
	width: 80%;
	padding: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5em;
	background-color: white;
}

.ddBioTitle {
	cursor: pointer;
	text-align: center;
	font-size: 20px;
	font-weight: ;
	
}

.ddBioCard hr {
	width: 100%;
	border-bottom: 2px solid var(--lightBlue);
}
.lines { /* lined sheet paper effect */
	height: calc(100% - 40px);
	width: 100%;
	background-image: repeating-linear-gradient(white 0px, white 29px, steelblue 30px);
}
.text { /* text on the lined paper */
	margin-left: 8em;
	top: 65px;
	left: 55px;
	bottom: 10px;
	right: 10px;
	line-height: 30px;
	overflow: hidden;
	outline: none;
	border-left: 2px solid #FF7979;
	padding-left: 10px;
}

#ddBioContent {
	font-size: 14px;
}

/* LANG STYLES */

.blueGradient {
	background-image: linear-gradient(to bottom, var(--white), var(--isItBlue));
}

.videoPar {
	width: 100%;
	margin: auto;
	padding: 0 5% 0 5%;
}

.videoPar iframe {
	float: left;
	margin: 0 2em 2em 0;
	box-shadow: 0px 10px 10px var(--shadowGray);
}

.videoPar iframe:hover {
	box-shadow: 0px 10px 10px var(--shadowGray);
	transform: translateX(10px);
	transition: all .75s ease-in-out
}

.videoPar h1 {
	margin-top: -.25em;
}

.langGrow { /* hover over language to grow */
	color: var(--barelyBlue);
	font-size: 1em;
	z-index: -1em;
	margin-top: ;
}

.langGrow li {
	list-style-type: none;
	display: inline-block;
	margin-left: 2em;
	-webkit-transform: rotate(-10deg) skew(-10deg, 0);
       -moz-transform: rotate(-10deg) skew(-10deg, 0);
        -ms-transform: rotate(-10deg) skew(-10deg, 0);
         -o-transform: rotate(-10deg) skew(-10deg, 0);
            transform: rotate(-10deg) skew(-10deg, 0);
	
}

.langGrow li:hover {
	transform: scale(1.5);
	-webkit-transition: transform 1s ease-in-out;
	color: var(--midBlue);
	cursor: default;
}









@keyframes oscillate {
	from {
		transform: scale(1);
		moz-transform: scale(1); /*for mozilla */
		ms-transform: scale(1);/*for microsoft */
	}
	to{
		transform: scale(1.1);
		moz-transform: scale(1.1); /*for mozilla */
		ms-transform: scale(1.1); /*for microsoft */
	}
}
@-webkit-keyframes oscillate{ /*webkit is to work in chrome */
	from{-webkit-transform: scale(1);}
	to{-webkit-transform: scale(1.1);}
}

.oscillate {
	animation-name: oscillate;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-direction: alternate;
	
	-webkit-animation-name: oscillate;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 1s;
	-webkit-animation-direction: alternate;
}

.tutoringLang {
	overflow: hidden;
	padding: 1vh 0 5vh 0;
	width: ;
	height: auto;
	min-height: 100vh;
}

.forwardNav {
	float: right;
	cursor: pointer;
	
}

.backNav {
	float: left;
	cursor: pointer;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-direction: ;
	-webkit-animation-timing-function: linear;
	animation-name: fade;
	animation-duration: 1.5s;
	animation-direction: ;
	animation-timing-function: linear;
}

@-webkit-keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

.slideLeft {
	-webkit-animation-name: slideLeft;
	-webkit-animation-duration: .5s;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: linear;
	animation-name: slideLeft;
	animation-duration: .5s;
	animation-direction: alternate;
	animation-timing-function: linear;
}

@-webkit-keyframes slideLeft {
  from {transform: translateX(100%)} 
  to {transform: translateX(0%)}
}

@keyframes slideLeft {
  from {transform: translateX(100%)} 
  to {transform: translateX(0%)}
}

.tutoringLangS1 {
	width: 100%;
	display: inline-block;
	display: ;
	transition: 1s ease-in-out;
}

.tutoringLangS1 h2 {
	color: var(--darkBlue);
	font-size: 6em;
	margin-left: 8vw;
	
}

.tutoringLangS1 h3 {
	margin-left: 8vw; 
	font-size: 2.5em;
	line-height: .25em;
}

.tutoringLangS1 h4 {
	margin-left: 12vw;
	font-size: 1.5em;
}

.tutoringLangS1 p {
	margin-left: 12vw;
}

.tutoringLangS1 img {
	
}


.tutoringLangS2 {
	width: 100%;
	display: inline-block;
	display: ;
	transition: 1s ease-in-out;
}

.tutoringLangS2 h2 {
	color: var(--darkBlue);
	font-size: 6em;
	margin-left: 8vw;
}

.tutoringLangS2 h3 {
	margin-left: 8vw; 
	font-size: 2.5em;
	line-height: .25em;
}

.tutoringLangS2 h4 {
	margin-left: 12vw;
	font-size: 1.5em;
}

.tutoringLangS2 ul {
	margin-left: 12vw;
}

.tutoringLangS2 li {
	margin-bottom: 1em;
}

.tutoringLangS2 table {
	width: 60%;
	margin: 0 0 8vw 8vw;
}

.tutoringLangS2 th {
	background-color: var(--darkBlue);
	color: var(--white);
	padding: 1em;
	text-align: center;
}

.tutoringLangS2 td {
	padding: .5em;
	text-align: center;
	background-color: var(--barelyBlue);
}

.greenCheck {
	color: green;
	
}


.tutoringLangS3 {
	width: 100%;
	display: inline-block;
	display: ;
	transition: 1s ease-in-out;
}
.tutoringLangS3 h2 {
	color: var(--darkBlue);
	font-size: 6em;
	margin-left: 8vw;
}
.tutoringLangS3 {
	
}
.tutoringLangS3 {
	
}
.tutoringLangS3 {
	
}
.tutoringLangS3 {
	
}
.tutoringLangS3 {
	
}
.tutoringLangS3 {
	
}



.tutoringLangS4 {
	width: 100%;
	display: inline-block;
	display: ;
	transition: 1s ease-in-out;
}
.tutoringLangS4 h2 {
	color: var(--darkBlue);
	font-size: 6em;
	margin-left: 8vw;
}
.tutoringLangS4 h4 {
	margin-left: 12vw;
	font-size: 1.5em;
}
.tutoringLangS4 a,
.tutoringLangS4 a:visited,
.tutoringLangS4 a:hover {
	cursor: pointer;
	color: var(--black);
}
.tutoringLangS4 p {
	margin-left: 12vw;
}
.tutoringLangS4 {
	
}
.tutoringLangS4 {
	
}
.tutoringLangS4 {
	
}








.degrees {
	height: auto;
	width: 100%;
	padding: 3em;
	background-color: var(--darkBlue);
	box-shadow: 0 0 100px 0 var(--midBlue) inset;
	margin-bottom: ;
	border-top: 1px solid var(--black);
	clear: both;
}

.degrees td {
	color: white;
	font-family: verdana;
	padding: 5px 10px 5px 10px;
}

.degreesTitles {
	font-weight: bold;
	margin-bottom: 20px;
}

.degreesDesc {
	font-size: 12px;
	margin-left: 1em;
}

.degrees img {
	margin-right: 2em;
}

.degrees img:hover {
	box-shadow: 0 0 10px 0 var(--white);
	transform: scale(1.15);
	transition: all .75s ease-in-out
}

.degrees a,
.degrees a:hover,
.degrees a:visited {
	
	color: white;
	
}


/* GENERAL STYLES */

body {
	margin: 0;
	padding: 0;
	font-family: verdana;
	width: 100%;
	overflow-x: hidden;
}

h1 {
	color: var(--darkBlue);
	font-size: 10em;
	clear: both;
}
.left {
	float: left;
}

.right {
	float: right;
}



/* fix weird extra horizontal scrolling bug 
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/