* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.reel-container {
	height: 45em;
	width: 100vw;
	background-color: black;
	overflow: hidden;
	position: ;
	display: flex;
	flex-direction: row;
}




#reel1 {
	width: 15em;
	height: 150%;
	margin: 1em;
	display: flex;
	flex-direction: column;
	transform: skewX(-10deg);
}

#reel1-card1 {
	width: 100%;
	height: 20em;
	min-height: 20em;
		margin: 1em;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(images/foodShow/instaFood2.jpg);
	background-size: cover;
	border-radius: 15px;
}

#reel1-card2 {
	width: 100%;
	height: 20em;
		min-height: 20em;
		margin: 1em;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(images/foodShow/instaFood1.jpg);
	background-size: cover;
	border-radius: 15px;
}

#reel1-card3 {
	width: 100%;
	height: 20em;
		min-height: 20em;
		margin: 1em;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(images/foodShow/instaFood2.jpg);
	background-size: cover;
	border-radius: 15px;
}

#reel1-card4 {
	width: 100%;
	height: 20em;
		min-height: 20em;
		margin: 1em;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(images/foodShow/instaFood1.jpg);
	background-size: cover;
	border-radius: 15px;
}

#reel1-card5 {
	width: 100%;
	height: 20em;
		min-height: 20em;
		margin: 1em;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(images/foodShow/instaFood1.jpg);
	background-size: cover;
	border-radius: 15px;
}





#reel2 {
	width: 15em;
	height: 150%;
	margin: 1em;
	display: flex;
	flex-direction: column;
	transform: skewX(-10deg);
}

#reel2-card1 {
	width: 100%;
	height: 20em;
		min-height: 20em;
		margin: 1em;
	border-radius: 15px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(images/meBioTest.jpg);
	background-size: cover;
}
#reel2-card2 {
	width: 100%;
	height: 20em;
		min-height: 20em;
		margin: 1em;
	border-radius: 15px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(images/meBioTest.jpg);
	background-size: cover;
}



#reel3 {
	width: 15em;
	height: 150%;
	margin: 1em;
	display: flex;
	flex-direction: column;
	transform: skewX(-10deg);
}

#reel3-card1 {
	width: 100%;
	height: 20em;
		min-height: 20em;
		margin: 1em;
	border-radius: 15px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(images/foodShow/instaFood2.jpg);
	background-size: cover;
}


#reel3-card2 {
	width: 100%;
	height: 20em;
		min-height: 20em;
		margin: 1em;
	border-radius: 15px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(images/foodShow/instaFood1.jpg);
	background-size: cover;
}
