/* Variables */

:root {
	--darkBlue: #002a54; /*complementary is ?? */
	--midBlue: #0d5eaf;
	--lightBlue: #378bde;
	--barelyBlue: #8ac5ff;
	--isItBlue: #dbecff;
	--gray: #BCC6CC;
	--white: white;
	--black: black;
	--aHover: ;
	--shadowGray: #4f5254;
	--buttonColor: #fc5744;
}


a,
a:hover,
a:visited {
	text-decoration: none;
}


.fairyTaleWrapper {
	margin: auto;
	width: 90%;
	height: auto;
	padding-bottom: 5em;
}

.stickyIframe {
	float: right;
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	top: 4em;	
	height: 365px;
	transition: .5s;
}

.stickyIframe iframe {
	box-shadow: 0 .75em .75em var(--shadowGray);
}

.iframeExpand {
	width: 50px;
	height: 25px;
	background-color: black;
	opacity: .75;
	position: relative;
	clear: both;
	box-shadow: 0 .75em .75em var(--shadowGray);
	transition: .5s;
	cursor: pointer;
	margin-top: -1.2em;
}



.iframeExpand p {
	display: flex;
	justify-content: center;
	align-content: center;
	color: white;
	padding-top: 2px;
	font-size: 15px;
}



.hide {
	top: -9em;
}
/*iframe {
	float: right;
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	top: 4em;
	box-shadow: 0 .75em .75em var(--shadowGray);

}*/

.fairyTaleTitles h1 {
	font-size: 4em;
	margin-bottom: -.25vh;
}

.fairyTaleCardsContainer {
	height: auto;
	margin: 5vh 3vw;
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.fairyTaleCard {
	border-radius: 2em;
	width: 20em;
	height: 20em;
	box-shadow: 0em 1em 1em var(--shadowGray);
	margin: 2em;
	border: 1px solid var(--shadowGray);
	overflow: hidden;
	padding: 1em;
}

.fairyTaleCard:hover {
	border-radius: 2em;
	width: 20em;
	height: 20em;
	box-shadow: 0em 1em 1em var(--shadowGray);
	margin: 2em;
	border: 1px solid var(--shadowGray);
	overflow: hidden;
	cursor: pointer;
	transform: scale(1.01);
	transition: .3s ease-in-out;
}

.fairyTaleCard img {
	max-width: 400px;
	position: relative;
	z-index: -1;
	margin-left: auto;
	margin-right: auto;
}

.fairyTaleCard p {
	text-align: center;
	color: var(--white);
	font-size: 4vh;
	font-family: "Simonetta";
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	margin-bottom: 1vh;
	margin-top: -1vh;
	z-index: 2;
}

.fairyTaleCard img {
	z-index: 1;
	top: 0;
}

.fairyTaleStory {
	padding-right: 2em;
	margin-top: -15em;
	width: 50%;
	z-index: 5;
}

.instructions li {
	margin-bottom: 1vw;
}

.instructions {
	margin-bottom: 10vh;
}

.fairyTaleStory h1 {
	font-size: 3em;
	color: var(--darkBlue);
}

.fairyTaleStory p {
	margin-bottom: 3vh;
}

.small-text {
	font-size: 13px;
	font-style: italic;
}

.chunk1 {
	margin-top: 7vh;
	line-height: 150%;
}

.chunkButton {
	margin-top: 3vh;
	padding: 1em 1em .5em .5em;
	border-radius: 10px;
	border: 1px solid var(--shadowGray);
	width: 5.2em;
	height: 2em;
	cursor: pointer;
	text-align: center;
}

.chunkButton:hover,
.chunkButton:active,
.chunkButton:focus {
	margin-top: 3vh;
	padding: 1em 1em .5em .5em;
	background-color: var(--buttonColor);
	color: var(--white);
	border-radius: 10px;
	border: 1px solid var(--shadowGray);
	width: 5.2em;
	height: 2em;
	cursor: pointer;
	text-align: center;
}

.turnRed {
	background-color: var(--buttonColor);
	color: var(--white);
}

.chunk2 {
	margin-top: 3vh;
	margin-left: 2vw;
	overflow: hidden;
	opacity: 0;
	max-height: 0;
	transition: .6s ease-in-out;
	line-height: 150%;
}

.chunk2.show {
	opacity: 1;
	max-height: 50em;
}

.active {
	
}

@media (max-width: 1100px) {
	.stickyIframe {
		top: 10em;
	}
	
	.hide {
		top: -3.5em;
	}
}

@media (max-width: 750px) {
	.fairyTaleCard {
		width: 80vw;
		
	}
	.fairyTaleCard:hover {
		width: 80vw;
		transform: scale(1.01);
		transition: .3s ease-in-out;
	}
	.fairyTaleCard img {
		margin-left: auto;
		margin-right: auto;
	}
	.fairyTaleCardsContainer {
		height: auto;
		margin: auto;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.fairyTaleWrapper {
		clear: both; 
	}
	
	.fairyTaleStory {
		margin-top: -10em;
		width: 100%;
	}
	
	.fairyTaleCard p {
	text-align: center;
	color: var(--white);
	font-size: 4vh;
	font-family: "Simonetta";
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	margin-bottom: 1vh;
	margin-top: -1vh;
	z-index: 2;
	}
	
	
}